# Core, fully offline dependencies
colorama>=0.4.6
requests>=2.31.0
simplejson>=3.19.2
sounddevice>=0.4.6
vosk>=0.3.45
TTS>=0.22.0
pyttsx3>=2.90
pynput>=1.7.6
pyautogui>=0.9.54
pycaw>=20240210
comtypes>=1.2.0
